
#main{
    display: flex;
}
.handel{
    margin-right: 20px;
}
#Square{
    border-radius: 5px;
    height: 300px;
    width: 300px;
    border: solid 1px rgb(58, 58, 58);
    position: relative;
}
.ball{
    width:10px;height:10px;
    border-radius: 50%;
    background-color: rgb(0, 131, 253);
    border: solid 1px rgb(0, 0, 0);
    transition:transform 5ms;
    transition-timing-function: ease-in-out;
    position:absolute;top: 0;left: 30px;
    
}
body{
    display: flex;justify-content: center;
}
#input{
    position: absolute;top: -1px;right:-1px;
    width: 300px;
    height: 300px;
    opacity: 0;
    border: none;
    cursor: pointer;
}
#human{
    width:10px;height:60px;
    background:rgb(80, 80, 80);
    margin: 0 20px;
    position: relative;
    border-radius: 8px;
}

#start{
    position: absolute;top: 99px;left:44px;
    opacity: 50%;
    font-size: 35px;
    color:green;
}
.nameDiv{
    margin-top: 20px;
}